form{
    position: relative;
}
.search_content{
    position: absolute;
    width: 200px;
    height: 100px;
    background-color: #fff;
    z-index: 11;
    padding: 20px;
    overflow: auto;
    border-radius: 3px;
    margin-left: 25px;
    display: grid;
    grid-gap: 10px;
}